{% extends "base.html" %}

{% block title %}SE - Reception{% endblock %}

{% block content %}
<h2>Finance</h2>
<br>
<br>
<br>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
  $(function () {
    $('#datepicker').datepicker()
  })
</script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Full name</th>
            <th>Phone</th>
            <th>Level</th>
            <th>Prefer Time</th>
            <th>Group Type</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.created_time}}</td>
            <td>{{student.full_name}}</td>
            <td>
                {% for phone in student.phone.all %}
                <span class="badge badge-primary">{{phone}}</span>
                {% endfor %}
            </td>
            <td>{{student.level}}</td>
            <td>
                {% for prefer_time in student.prefer_time.all %}
                    <span class="badge badge-info">{{prefer_time}}</span>
                {% endfor %}
            </td>
            <td>{{student.group_type}}</td>
            <td>{{student.note}}</td>
            <td>
                <a href="javascript:void(0);" class="rounded-button">R</a>
                <a href="{% url 'reception:transferStudent2Group' student_id=student.id %}" class="rounded-button">
                    T
                </a>
                <a href="{% url 'reception:editStudent' student_id=student.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'reception:deleteStudent' student_id=student.id %}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Paid</h1>
<table class="table table-striped">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{payment.student.full_name}}</td>
            <td>{{payment.date}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.student.group}}</td>
            <td>{{payment.student.group.teacher}}</td>
            <td>
                {{payment.student.group.days}},
                {{payment.student.group.times}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Not Paid</h1>
<table class="table table-striped">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        {% for student in not_paid_students %}
        <tr>
            <td>{{student.full_name}}</td>
            <td>{{student.student.date}}</td>
            <td>{{student.payment.amount}}</td>
            <td>{{student.student.group}}</td>
            <td>{{student.student.group.teacher}}</td>
            <td>
                {{student.student.group.days}},
                {{student.student.group.times}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Should Paid</h1>
<table class="table table-striped">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        {% for student in should_pay %}
        <tr>
            <td>{{student.full_name}}</td>
            <td>{{student.student.date}}</td>
            <td>{{student.payment.amount}}</td>
            <td>{{student.student.group}}</td>
            <td>{{student.student.group.teacher}}</td>
            <td>
                {{student.student.group.days}},
                {{student.student.group.times}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}