{% extends "base.html" %}

{% block title %}SE - First & Second{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6"><a href="{% url 'reception:first_lesson' %}" class="btn btn-info w-100"><h2>First Lesson</h2></a></div>
    <div class="col-6"><a href="{% url 'reception:second_lesson' %}" class="btn btn-success w-100"><h2>Second Lesson</h2></a></div>
</div>

<h2>{{title}}</h2>
<br>
<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Full name</th>
            <th>Phone</th>
            <th>From date</th>
            <th>To date</th>
            <th>Lessons</th>
            <th>Info</th>
            <th>Note</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        {% if student.is_podo %}
        <style>
            .podo {
                background-color: #999;
            }
        </style>
        {%endif%}
        <tr class="podo">
            <td>{{student.created_time}}</td>
            <td>{{student.full_name}}</td>
            <td>
                {% for phone in student.phone.all %}
                <span class="badge badge-primary">{{phone}}</span>
                {% endfor %}
            </td>
            <td>{{student.payment_student.from_date}}</td>
            <td>{{student.payment_student.to_date}}</td>
            <td>12</td>
            <td>
                <span class="badge badge-info">Group: Current</span>
                <span class="badge badge-info">{{student.payment_student.from_date}}</span>
                <span class="badge badge-primary">{{student.payment_student.to_date}}</span>
                <span class="badge badge-primary">Paid: 0</span>
                <span class="badge badge-primary">Should pay: 0 UZS</span>
                <a href="javascript:void(0);" class="btn btn-success pay" data-toggle="modal" data-target="#modal-default"
                data-student-id="{{student.id}}">
                    Pay
                    <i class="fa fa-money" aria-hidden="true"></i>
                </a>
            </td>
            <td>{{student.note}}</td>
            <td>
                <div class="panel panel-success">
                  <div class="panel-body">
                    <span class="badge badge-info">{{student.group.name}}</span>
                    <span class="badge badge-info">{{student.group.teacher.full_name}}</span>
                    <span class="badge badge-primary">{{student.group.days}} {{student.group.times}}</span>
                    <span class="badge badge-primary">{{student.group.level}}: {{student.group.sub}}</span>
                  </div>
                </div>
            </td>
            <td>
                {%if student.status_r %}
                <a href="javascript:void(0);"
                   style="border:1px solid #aaa; padding:3px 10px; border-radius:50%; background-color:#ff0000; color: #ccc;">
                    R
                </a>
                {%else%}
                <a href="javascript:void(0);"
                   style="border:1px solid #aaa; padding:3px 10px; border-radius:50%;">
                    R
                </a>
                {%endif%}
                {%if student.status_p %}
                    <a href="javascript:void(0);" style="border:1px solid #aaa; padding:4px 10px; border-radius:50%; background-color:#00ff00; color: #333;">
                        <i class="fas fa-running"></i>
                    </a>
                {%else%}
                    <a href="javascript:void(0);" style="border:1px solid #aaa; padding:4px 10px; border-radius:50%;">
                        <i class="fas fa-running"></i>
                    </a>
                {%endif%}
                <!--Second Lesson-->
                <!--Pul toliman desa shu knopka bosiladi-->
                <a href="javascript:void(0);" class="want-pay" data-toggle="modal" data-target="#myModal"
                    data-student-id="{{student.id}}">
                    Pay
                    <i class="fa fa-money" aria-hidden="true"></i>
                </a>
                {%if lesson == 1%}
                <a href="{% url 'reception:send2second_lesson' student_id=student.id %}">
                    next<i class="fa fa-star-o" aria-hidden="true"></i>
                </a>
                {%else%}
                <a href="{% url 'reception:send2first_lesson' student_id=student.id %}">
                    <i class="fas fa-star"></i>
                </a>
                {%endif%}
                <a href="{% url 'reception:edit_student' student_id=student.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'reception:delete_student' student_id=student.id %}"><i class="fas fa-trash"></i></a>
                <a href="{% url 'reception:student_podo' student_id=student.id %}">
                    PODO
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="" class="payment-form">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <label for="amount">Amount</label>
                        <input id="amount" type="number" name="amount" class="form-control" value="450000">
                    </div>
                    <div class="input-group mb-3">
                        <label for="type">Payment type</label>
                        <select name="payment_type" id="type" class="form-control">
                            <option value="1">Plastic</option>
                            <option value="2" selected>Cash</option>
                            <option value="3">MOT</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label for="status">Payment status</label>
                        <select name="payment_status" class="form-control" id="status">
                            <option value="0">Not paid</option>
                            <option value="1" selected>Should pay</option>
                            <option value="2">Full paid</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date" class="form-control" placeholder="01.01.2021">
                    </div>

                    <input type="submit" class="btn btn-primary" value="Pay">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Date of payment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <form method="post" action="" class="payment-form">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label for="date-w">Date</label>
            <input type="date" id="date-w" name="date" class="form-control" placeholder="01.01.2021">
        </div>


    </form>
      </div>
      <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Save">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    $('.pay').click(function(){
        student_id = $(this).attr('data-student-id');
        console.log(student_id)
        $('.payment-form').attr('action', '/main/student-pay/'+student_id);
    });
});
</script>
{% endblock %}