{% extends "base.html" %}
{% load static %}

{% block title %}Group students{% endblock %}

{% block content %}


<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-title">
            <h1>Group edit</h1>
        </div>
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                test
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
{% endblock %}
