{% extends "base.html" %}

{% block title %}SE - Groups{% endblock %}
{% block extra_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<style>
.group-item {
    border: 1px solid #333;
}
.full {
    background-color: red;
    border: 1px solid #333;
}
</style>
<h2>Groups</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'reception:createGroup' %}" class="btn btn-primary create-group">Create group</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><h4>Rooms</h4></div>
        {% for time in times %}
        <div class="col-1 ">{{time.name}}</div>
        {% endfor %}
    </div>
    {% for roomList in schedule %}
    <div class="row">
        <div class="col-md-3"><h4>{{roomList.name}}</h4></div>
        {% for group in roomList.times %}
            <div class="col-1 group-item {{group.class}}">{{group.name}}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<script>
$(document).ready(function(){
    jQuery( ".button" ).on( "click", function() {
        window.location.replace("{% url 'reception:createGroup' %}")
    });
})
</script>
{% endblock %}