{% extends "base.html" %}

{% block title %}SE - Student{% endblock %}

{% block content %}
<h2>{{ student.full_name }}</h2>
<p>Group: <b>{{student.group}}</b></p>
<div class="row">
    {% for group in groups %}
    <div class="col-3">
        <div class="card card-info">
            <div class="card-header">
                <div class="card-title">
                    <h3>{{group.name}}</h3>
                </div>
            </div>
            <div class="card-body">
                <p><b>{{group.level}}</b>: {{group.sub}}</p>
                <p><b>{{group.days}}</b> {{group.times}}</p>
                <p>Teacher: <b>{{group.teacher.full_name}}</b></p>
                <p class="text-center">
                    <a class="btn btn-success" href="javascript:void(0);">
                        Free places: <span>{{group.place_count}}</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}